$app-radius: 7px;
$primary-color: #ff6a88;
$grey-color: #808080;
$border-color: rgba($grey-color, .2);
:root {
  --background-color: #fff;
  --font-color: rgb(68, 68, 68);
}

@import "./blocks/accounts";
@import "./blocks/app";
@import "./blocks/base";
@import "./blocks/button";
@import "./blocks/date";
@import "./blocks/helper";
@import "./blocks/message";
@import "./blocks/menu";
@import "./blocks/new";
@import "./blocks/paragraph";
@import "./blocks/preview";
@import "./blocks/profile-head";
@import "./blocks/select";
@import "./blocks/top";
