.accounts {
  background: #463350;
  border-bottom-left-radius: $app-radius;
  padding: 10px;

  &__item {
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;

    &:hover {
      background: rgba($primary-color, .4);
    }

    &--active {
      background: $primary-color;

      &:hover {
        background: $primary-color;
      }
    }
  }

  &__pill {
    position: absolute;
    right: 2px;
    top: 5px;
  }

  &__avatar {
    $size: 40px;
    border-radius: $size;
    width: $size;
  }
}
