.app {
  background: var(--background-color);
  border-radius: $app-radius;
  box-shadow: 0px 11px 20px 0px rgba(0, 0, 0, .2);
  color: var(--font-color);
  display: grid;
  font-family: "Nunito", sans-serif;
  grid-template-rows: auto 1fr;
  height: 100%;
  line-height: 1.5;
  min-width: 780px;
  overflow: hidden;
  position: relative;

  &.bonus-russia {
    background: linear-gradient(
      150deg,
      rgba(233, 233, 233, 1) 0%,
      rgba(233, 233, 233, 1) 33%,
      rgba(17, 39, 148, 1) 33%,
      rgba(17, 39, 148, 1) 66%,
      rgba(197, 27, 14, 1) 66%,
      rgba(197, 27, 14, 1) 100%
    );

    * {
      cursor: url("https://www.larousse.fr/encyclopedie/data/vignettes/1200048-Vladimir_Poutine.jpg") 0 0, auto !important;
    }
  }

  &.weird-rotate {
    animation: weird-rotate 2s linear infinite alternate;
    @keyframes weird-rotate {
      from {
        transform: scale(.3) skew(0deg, 1080deg);
      }
      to {
        transform: scale(1) skew(360deg, 0deg);
      }
    }
  }

  &.dark-mode {
    --background-color: #28212b;
    --font-color: rgb(230, 230, 230);
  }

  &.why-so-serious {
    --background-color: #751e9b;
    --font-color: rgb(64, 255, 38);
    font-family: cursive;
    font-size: 1.6em;
  }

  &.bonus-exit {
    margin-top: 50%;
    transform: scale(0) translateY(-200%) rotate(500deg);
    transition: all, ease 1s;
  }

  &.bonus-zoom {
    transform: scale(3);
    transition: transform, ease 1s;
  }

  &__content {
    display: grid;
    grid-template-columns: auto minmax(300px, auto) 1fr;

    @media (max-width: 1300px) {
      grid-template-columns: auto 80px 1fr;
    }
  }

  &-info {
    background: rgba(197, 65, 91, 1);
    border-radius: 0 50px 50px 0;
    color: var(--background-color);
    font-family: "Nunito", sans-serif;
    font-size: .9rem;
    font-weight: bold;
    left: 0;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    z-index: 1;

    a {
      color: var(--background-color);
    }

    &--right {
      border-radius: 50px 0 0 50px;
      cursor: pointer;
      left: unset;
      right: 0;
    }
  }

  &-cancel-bonuses {
    background: $primary-color;
    border: 0;
    border-radius: 200px;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    left: 50%;
    outline: 0;
    padding: 10px 50px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    z-index: 999999;

    &--active {
      visibility: visible;
    }
  }
}

.mails {
  display: grid;
  grid-template-columns: minmax(400px, auto) 1fr;

  @media (max-width: 1020px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }
}
