.app {
  background: #fff;
  border-radius: $app-radius;
  box-shadow: 0px 11px 20px 0px rgba(0, 0, 0, .2);
  color: rgb(68, 68, 68);
  display: grid;
  font-family: "Nunito", sans-serif;
  grid-template-rows: auto 1fr;
  height: 100%;
  line-height: 1.4;
  position: relative;

  &__content {
    display: grid;
    grid-template-columns: auto minmax(300px, auto) minmax(400px, auto) 1fr;

    @media (max-width: 1300px) {
      grid-template-columns: auto 100px minmax(400px, auto) 1fr;
    }
  }
}
