.menu {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 10px 20px 20px;
  position: relative;
  z-index: 2;
  @media (max-width: 1300px) {
    padding: 10px;
  }

  &::after {
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    bottom: 0;
    content: "";
    left: 100%;
    opacity: .05;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 20px;
  }

  &-user {
    border-bottom: 1px solid $border-color;
    margin-bottom: 20px;
    padding: 10px 10px 15px;

    @media (max-width: 1300px) {
      padding: 10px 0 15px;

      .profile-head__name,
      .profile-head__mail {
        display: none;
      }
    }
  }

  &-tags {
    font-size: .9rem;
    font-weight: bold;
    padding: 20px 0;

    @media (max-width: 1300px), (max-height: 790px) {
      display: none;
    }

    &__item {
      border-radius: 50px;
      color: rgba($grey-color, .8);
      cursor: pointer;
      margin-bottom: 2px;
      padding: 2px 10px;

      &:hover {
        background: rgba($grey-color, .1);
      }
    }
  }

  &-main {
    border-bottom: 1px solid $border-color;

    &__pill {
      @media (max-width: 1300px) {
        display: none !important;
      }
    }
  }

  &__icon {
    color: rgba($grey-color, .4);
    margin-right: 10px;

    @media (max-width: 1300px) {
      margin-right: 0;
    }
  }

  &__item {
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 15px 30px;
    transition: background ease .15s;

    @media (max-width: 1300px) {
      display: block;
      font-size: 1.5rem;
      margin-bottom: 5px;
      padding: 15px 10px;
      text-align: center;
    }

    &:hover {
      background: rgba($grey-color, .1);
    }

    &.active {
      background: $primary-color;
      color: #fff;

      .menu__icon {
        color: rgba(#fff, .8);
      }
    }
  }

  &__label {
    font-weight: bold;

    @media (max-width: 1300px) {
      display: none;
    }
  }
}
