.message-list {
  background: rgba($grey-color, .08);
  border-right: 1px solid $border-color;
  position: relative;
}

.message {
  border-bottom: 1px solid rgba($grey-color, .1);
  color: rgba($grey-color, .9);
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr;
  position: relative;

  &--new {
    background: var(--background-color);
    color: var(--font-color);
  }

  &--active {
    &::before {
      $offset: 3px;
      background: $primary-color;
      border-radius: 5px;
      bottom: $offset;
      content: "";
      left: $offset;
      position: absolute;
      top: $offset;
      width: 4px;
      z-index: 1;
    }
  }

  &__content {
    padding: 15px 15px 15px 0;
  }

  &__exp {
    color: rgba($grey-color, .8);
    display: flex;
    font-size: .8rem;
    font-style: italic;
    font-weight: bold;
    justify-content: space-between;
  }

  &__expr {
    font-size: .9rem;
    font-style: italic;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (max-width: 1020px) {
      max-width: 1000px;
    }
  }

  &__title {
    font-weight: bold;
  }

  &__actions {
    align-content: space-between;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 5px;
    padding: 15px;
    text-align: center;
    transform: translateX(-10px);
    transition: transform ease .2s;
    visibility: hidden;
  }

  &__icon {
    color: rgba($grey-color, .5);
    font-size: .9rem;

    &:hover {
      color: var(--font-color);
    }
  }

  &:hover {
    .message__actions {
      transform: translateX(0);
      visibility: visible;
    }
  }

  &-tags {
    bottom: 2px;
    line-height: 1;
    position: absolute;
    right: 2px;
  }
}
