.pill {
  align-items: center;
  background: rgba($grey-color, .1);
  border-radius: 30px;
  color: var(--font-color);
  display: flex;
  font-size: .7rem;
  font-weight: bold;
  height: 20px;
  line-height: 1;
  padding: 0 10px;

  &--solid {
    background: #fff;
    color: black;
  }
}
