.profile-head {
  align-items: start;
  display: flex;
  justify-content: space-between;

  &__id {
    align-items: center;
    display: flex;
  }

  &__name {
    font-weight: bold;
  }

  &__mail {
    color: rgba($grey-color, .8);
    font-size: .8rem;
  }

  &__avatar {
    $size: 30px;
    border-radius: $size;
    display: inline-block;
    margin-right: 10px;
    width: $size;
  }
}
