$app-radius: 7px;
$border-color: rgb(221, 221, 221);
$primary-color: #ff6a88;

body {
  background-image: linear-gradient(90deg, #ff9a8b 0%, $primary-color 55%, #ff99ac 100%);
  height: 100vh;
  padding: 60px;
}

*,
::before,
::after {
  box-sizing: border-box;
  scrollbar-color: rgba(0, 0, 0, .2) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: rgba(120, 120, 120, .3);
  border: 5px solid transparent;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

input,
textarea,
button {
  color: rgb(68, 68, 68);
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  line-height: 1.4;
}

.button {
  background: rgb(235, 235, 235);
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  font-size: .8rem;
  font-weight: bold;
  line-height: 1;
  outline: 0;
  padding: 10px 25px;
  text-transform: uppercase;

  &--primary {
    background: $primary-color;
    color: #fff;
  }
}

.app {
  background: #fff;
  border-radius: $app-radius;
  box-shadow: 0px 11px 20px 0px rgba(0, 0, 0, .2);
  color: rgb(68, 68, 68);
  display: grid;
  font-family: "Nunito", sans-serif;
  grid-template-rows: auto 1fr;
  height: 100%;
  line-height: 1.4;
  position: relative;

  &__content {
    display: grid;
    grid-template-columns: auto minmax(300px, auto) minmax(400px, auto) 1fr;

    @media (max-width: 1300px) {
      grid-template-columns: auto 100px minmax(400px, auto) 1fr;
    }
  }
}

.accounts {
  background: #463350;
  border-bottom-left-radius: $app-radius;
  padding: 10px;

  &__item {
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;

    &:hover {
      background: rgba($primary-color, .4);
    }

    &--active {
      background: $primary-color;

      &:hover {
        background: $primary-color;
      }
    }
  }

  &__avatar {
    $size: 40px;
    border-radius: $size;
    width: $size;
  }
}

.input {
  border: 0;
  font-weight: bold;
  min-width: 400px;
  outline: 0;
  padding: 2px 5px;

  &::placeholder {
    color: rgb(187, 187, 187);
    font-style: italic;
  }
}

.top {
  align-items: center;
  border-bottom: 1px solid $border-color;
  border-radius: $app-radius $app-radius 0 0;
  color: rgb(153, 153, 153);
  display: flex;
  font-size: .8rem;
  font-weight: bold;
  justify-content: space-between;

  &-search {
    border-bottom: 1px solid $border-color;
    padding: 2px 5px;
  }

  &-menu {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 15px;
    line-height: 1;
    list-style: none;
    padding-left: 15px;
  }

  &-action {
    display: flex;

    &__item {
      cursor: pointer;
      font-size: 1rem;
      padding: 12px 15px;

      &:hover {
        background: rgb(209, 209, 209);
        color: rgb(70, 70, 70);
      }

      &:last-of-type {
        border-radius: 0 $app-radius 0 0;

        &:hover {
          background: red;
          color: #fff;
        }
      }
    }
  }
}

.menu {
  border-right: 1px solid rgba($border-color, .5);
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 10px;

  &-user {
    align-items: center;
    border-bottom: 1px solid rgba($border-color, .5);
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px 10px 15px;

    &__id {
      align-items: center;
      display: flex;
    }

    &__name {
      font-weight: bold;

      @media (max-width: 1300px) {
        display: none;
      }
    }

    &__mail {
      font-size: .8rem;
      font-style: italic;

      @media (max-width: 1300px) {
        display: none;
      }
    }

    &__avatar {
      $size: 30px;
      border-radius: $size;
      display: inline-block;
      margin-right: 10px;
      width: $size;
    }
  }

  &__item {
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 15px 60px 15px 30px;

    @media (max-width: 1300px) {
      font-size: 1.5rem;
      padding: 20px 10px;
      text-align: center;
    }

    &:hover {
      background: rgb(238, 238, 238);
    }

    &.active {
      background: $primary-color;
      color: #fff;
    }
  }

  &__icon {
    color: rgba(black, .2);
    margin-right: 10px;

    @media (max-width: 1300px) {
      margin-right: 0;
    }
  }

  &__label {
    font-weight: bold;

    @media (max-width: 1300px) {
      display: none;
    }
  }
}
.message-list {
  background: rgba($border-color, .2);
  border-right: 1px solid rgba($border-color, .5);
}

.message {
  border-bottom: 1px solid rgba($border-color, .5);
  color: rgb(131, 131, 131);
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr;
  position: relative;

  &--new {
    background: #fff;
    color: black;

    &::before {
      $offset: 3px;
      background: $primary-color;
      border-radius: 5px;
      bottom: $offset;
      content: "";
      left: $offset;
      position: absolute;
      top: $offset;
      width: 4px;
      z-index: 1;
    }
  }

  &__content {
    padding: 15px 15px 15px 0;
  }

  &__exp {
    color: rgba(black, .4);
    display: flex;
    font-size: .8rem;
    font-style: italic;
    justify-content: space-between;
  }

  &__expr {
    font-style: italic;
  }

  &__title {
    font-weight: bold;
  }

  &__actions {
    align-content: space-between;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 5px;
    padding: 15px;
    text-align: center;
    transform: translateX(-10px);
    transition: transform ease .2s;
    visibility: hidden;
  }

  &__icon {
    color: rgb(206, 206, 206);
    font-size: .9rem;

    &:hover {
      color: rgb(100, 100, 100);
    }
  }

  &:hover {
    .message__actions {
      transform: translateX(0);
      visibility: visible;
    }
  }
}

.preview {
  padding: 20px;
}

.select {
  border: 1px solid $border-color;
  border-radius: 5px;
  display: inline-block;
  line-height: 1;
  padding-right: 5px;
  position: relative;

  &__item {
    all: unset;
    padding: 5px 10px;
  }

  &__arrow {
    position: relative;
    right: 5px;
    top: -2px;
  }
}

.new {
  &__button {
    $size: 50px;
    background: $primary-color;
    border: 0;
    border-radius: $size;
    color: #fff;
    cursor: pointer;
    font-size: 1.6rem;
    height: $size;
    outline: 0;
    transition: transform ease .2s;
    width: $size;

    &:hover {
      transform: scale(1.1);
    }

    &.active {
      transform: scale(0);
    }
  }

  &-mail {
    $offset: 20px;
    background: #fff;
    border: 1px solid $border-color;
    border-radius: $app-radius;
    bottom: $offset;
    box-shadow: 0px 11px 20px 0px rgba(0, 0, 0, 0);
    left: $offset + 80px;
    opacity: 0;
    position: absolute;
    transform: scale(0);
    transform-origin: bottom left;
    transition: all cubic-bezier(.42, 0, 0, 1.26) .3s;
    visibility: hidden;
    width: 600px;
    z-index: 999;

    &__close {
      cursor: pointer;
      padding: 5px;
    }

    &.active {
      box-shadow: 0px 11px 20px 0px rgba(0, 0, 0, .2);
      opacity: 1;
      transform: scale(1);
      visibility: visible;
    }

    &__top {
      align-items: center;
      border-bottom: 1px solid rgba($border-color, .5);
      display: flex;
      font-weight: bold;
      justify-content: space-between;
      padding: 10px 10px 10px 40px;
    }

    &-exp {
      background: rgba(221, 221, 221, .2);
      border-bottom: 1px solid rgba($border-color, .5);
      color: rgb(99, 99, 99);
      font-weight: bold;
      padding: 10px 40px;

      &__item {
        align-items: center;
        display: grid;
        grid-template-columns: 70px 1fr;
        margin-bottom: 10px;
      }

      &__input {
        background: rgba(0, 0, 0, 0);
        border: 0;
        border-bottom: 1px solid $border-color;
        font-weight: bold;
        outline: 0;
        padding: 5px;
        width: 100%;

        &::placeholder {
          color: rgb(156, 156, 156);
          font-style: italic;
          font-weight: normal;
        }
      }

      &__label {
        font-size: .8rem;
      }
    }

    &-foot {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 20px 40px;

      &__icon {
        border-radius: 5px;
        color: rgb(177, 177, 177);
        cursor: pointer;
        padding: 10px;

        &:hover {
          background: rgba(#000, .07);
          color: rgb(109, 109, 109);
        }
      }
    }

    &__message {
      border: 1px solid transparent;
      border-radius: 5px;
      max-height: 50vh;
      min-height: 30vh;
      outline: 0;
      padding: 20px 40px;
      resize: vertical;
      width: 100%;
    }
  }
}
